/*
ASIDE LAYOUT

aside
  aside-photo
    aside-photo__img
    aside-photo__caption
  aside__h2
  aside__link-list
    aside__list-item
      aside-link --home
    aside__list-item
      aside-link --jobs
    aside__list-item
      aside-link --resumes
    aside__list-item
      aside-link --tasks
    aside__list-item
      aside-link --calendar
    aside__list-item
  aside__h2
  aside__link-list
    aside__list-item
      aside-link --users
    aside__list-item
      aside-link --location
    aside__list-item
      aside-link --workflows
    aside__list-item
      aside-link --job-boards
    aside__list-item
      aside-link --social
  aside__h2
  aside__form
    aside__label --yellow
      aside__checkbox --yellow
    aside__label --blue
      aside__checkbox --blue
    aside__label --red
      aside__checkbox --red
    aside__label --green
      aside__checkbox --green
end
*/

.aside {
  background-color: #374050;
  display: inline-flex;
  flex-direction: column;
  font-size: 1rem;
  height: 100%;
  min-width: 122px;
  overflow: scroll;
  padding-bottom: 0.5rem;
}

.aside__photo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.aside__photo__img {
  border-radius: 100%;
  margin: 0 0 1rem 0;
  vertical-align: middle;
  width: 6rem;
}

.aside__photo__caption {
  background-image: url("../images/down-arrow-icon.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 0.5rem;
  padding: 0 1rem 0 0;
}

.aside__photo__caption:hover {
  background-image: url("../images/down-arrow-icon-white.svg");
  color: #fff;
}

.aside__h2 {
  border-top: 0.2rem solid #303848;
  color: #5D667A;
  font-size: 1rem;
  padding: 2rem 0 0 1rem;
}

.aside__link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.aside__link {
  background-position: 1rem 1rem;
  background-repeat: no-repeat;
  background-size: 1rem;
  color: #A0A3A8;
  display: block;
  padding: 1rem 1.5rem 1rem 2.5rem;
  text-decoration: none;
}

.aside__link:hover {
  background-color: #303848;
  background-position: 0.9rem 1rem;
  border-left: 0.1rem solid #48A3F3;
  color: white;
  padding-left: 2.4rem;
}

.aside__link--calendar {
  background-image: url("../images/calendar-icon.svg");
}

.aside__link--calendar:hover {
  background-image: url("../images/calendar-icon-white.svg");
}

.aside__link--home {
  background-image: url("../images/home-icon.svg");
}

.aside__link--home:hover {
  background-image: url("../images/home-icon-white.svg");
}

.aside__link--job-boards {
  background-image: url("../images/job-boards-icon.svg");
}

.aside__link--job-boards:hover {
  background-image: url("../images/job-boards-icon-white.svg");
}

.aside__link--jobs {
  background-image: url("../images/briefcase-icon.svg");
}

.aside__link--jobs:hover {
  background-image: url("../images/briefcase-icon-white.svg");
}

.aside__link--location {
  background-image: url("../images/location-icon.svg");
}

.aside__link--location:hover {
  background-image: url("../images/location-icon-white.svg");
}

.aside__link--resumes {
  background-image: url("../images/resume-icon.svg");
}

.aside__link--resumes:hover {
  background-image: url("../images/resume-icon-white.svg");
}

.aside__link--social {
  background-image: url("../images/social-icon.svg");
}

.aside__link--social:hover {
  background-image: url("../images/social-icon-white.svg");
}

.aside__link--tasks {
  background-image: url("../images/tasks-icon.svg");
}

.aside__link--tasks:hover {
  background-image: url("../images/tasks-icon-white.svg");
}

.aside__link--users {
  background-image: url("../images/users-icon.svg");
}

.aside__link--users:hover {
  background-image: url("../images/users-icon-white.svg");
}

.aside__link--workflows {
  background-image: url("../images/workflows-icon.svg");
}

.aside__link--workflows:hover {
  background-image: url("../images/workflows-icon-white.svg");
}

.aside__form {
  display: flex;
  flex-direction: column;
}

.aside__label {
  display: flex;
  padding: 1rem 2.5rem 1rem 1rem;
}

.aside__label:hover {
  background-color: #303848;
  color: #fff;
  padding-left: 0.9rem;
}

.aside__label--yellow:hover {
  border-left: 0.1rem solid #F9D649;
}
.aside__label--blue:hover {
  border-left: 0.1rem solid #51ACF6;
}
.aside__label--red:hover {
  border-left: 0.1rem solid #D43661;
}
.aside__label--green:hover {
  border-left: 0.1rem solid #4BA98A;
}

.aside__checkbox {
  height: 1rem;
  margin: 0 0.5rem 0 0;
  width: 1rem;
}

.aside__checkbox--yellow {
  background-color: #F9D649;
}

.aside__checkbox--blue {
  background-color: #51ACF6;
}

.aside__checkbox--red {
  background-color: #D43661;
}

.aside__checkbox--green {
  background-color: #4BA98A;
}

.aside__checkbox--checked {
  background-image: url('../images/checkmark-black.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.7rem;
}