/*
INFO-TABLE LAYOUT

info-table
  info-table__title --heading
  info-table__description --heading
    info-table__btn
      info-table__icon
  info-table__title --top-entry
  info-table__description --top-entry
  info-table__title
  info-table__description
  info-table__title
  info-table__description
  info-table__title
  info-table__description
  info-table__title
  info-table__description
  info-table__title --align-self-start
  info-table__description --pad-top-bottom
  info-table__title
  info-table__description
    info-table__img
    info-table__caption
  info-table__title
  info-table__description
end
*/

.info-table {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr auto 1fr 1fr;
  width: 65%;
  background-color: #fff;
}

.info-table__btn {
  background-color: #8891a1;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  color: #fff;
}

.info-table__btn:hover {
  background-color: #48A3F3;
}

.info-table__photo,
.info-table__description,
.info-table__title {
  font-size: 1rem;
  display: flex;
  align-items: center;
  border-top: 1px solid lightgrey;
  padding: 0 2rem 0 0;
}

.info-table__title {
  margin: 0 0 0 2rem;
}
.info-table__photo,
.info-table__description {
  margin: 0 2rem 0 0;
  padding: 0 2rem 0 0;
}

.info-table__icon {
  width: 1rem;
  vertical-align: top;
  margin: 0 0.5rem 0 0;
}

.info-table__img {
  border-radius: 100%;
  vertical-align: middle;
  width: 3rem;
  margin: 0.5rem 1rem 0.5rem 0;
}

.info-table--heading {
  background-color: #7F8BA4;
  color: #fff;
  margin: 0;
}

.info-table__heading--pad-left {
  padding: 0 0 0 2rem;
}

.info-table--top-entry {
  border: none;
}

.info-table--align-self-start {
  align-self: flex-start;
  padding: 1.5rem 1.5rem 0 0;
}

.info-table__description--pad-top-bottom {
  padding: 1.5rem 2rem 1.5rem 0;
}