.side-bar {
  background-color: #374050;
  display: inline-flex;
  flex-direction: column;
  font-size: 1rem;
  height: 100%;
  min-width: 122px;
  overflow: scroll;
  padding-bottom: 0.5rem;
}

.side-bar__photo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.side-bar__photo__img {
  border-radius: 100%;
  margin: 0 0 1rem 0;
  vertical-align: middle;
  width: 6rem;
}

.side-bar__photo__caption {
  background-image: url("../images/down-arrow-icon.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 0.5rem;
  padding: 0 1rem 0 0;
  cursor: pointer;
}

.side-bar__photo__caption:hover {
  background-image: url("../images/down-arrow-icon-white.svg");
  color: #fff;
}

.side-bar__h2 {
  border-top: 0.2rem solid #303848;
  color: #5D667A;
  font-size: 1rem;
  padding: 2rem 0 0 1rem;
}

.side-bar__link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side-bar__link {
  background-position: 1rem 1rem;
  background-repeat: no-repeat;
  background-size: 1rem;
  color: #A0A3A8;
  display: block;
  padding: 1rem 1.5rem 1rem 2.5rem;
  text-decoration: none;
}

.side-bar__link:hover {
  background-color: #303848;
  background-position: 0.9rem 1rem;
  border-left: 0.1rem solid #48A3F3;
  color: white;
  padding-left: 2.4rem;
}

.side-bar__link--calendar {
  background-image: url("../images/calendar-icon.svg");
}

.side-bar__link--calendar:hover {
  background-image: url("../images/calendar-icon-white.svg");
}

.side-bar__link--home {
  background-image: url("../images/home-icon.svg");
}

.side-bar__link--home:hover {
  background-image: url("../images/home-icon-white.svg");
}

.side-bar__link--job-boards {
  background-image: url("../images/job-boards-icon.svg");
}

.side-bar__link--job-boards:hover {
  background-image: url("../images/job-boards-icon-white.svg");
}

.side-bar__link--jobs {
  background-image: url("../images/briefcase-icon.svg");
}

.side-bar__link--jobs:hover {
  background-image: url("../images/briefcase-icon-white.svg");
}

.side-bar__link--location {
  background-image: url("../images/location-icon.svg");
}

.side-bar__link--location:hover {
  background-image: url("../images/location-icon-white.svg");
}

.side-bar__link--resumes {
  background-image: url("../images/resume-icon.svg");
}

.side-bar__link--resumes:hover {
  background-image: url("../images/resume-icon-white.svg");
}

.side-bar__link--social {
  background-image: url("../images/social-icon.svg");
}

.side-bar__link--social:hover {
  background-image: url("../images/social-icon-white.svg");
}

.side-bar__link--tasks {
  background-image: url("../images/tasks-icon.svg");
}

.side-bar__link--tasks:hover {
  background-image: url("../images/tasks-icon-white.svg");
}

.side-bar__link--users {
  background-image: url("../images/users-icon.svg");
}

.side-bar__link--users:hover {
  background-image: url("../images/users-icon-white.svg");
}

.side-bar__link--workflows {
  background-image: url("../images/workflows-icon.svg");
}

.side-bar__link--workflows:hover {
  background-image: url("../images/workflows-icon-white.svg");
}

.side-bar__form {
  display: flex;
  flex-direction: column;
}

.side-bar__label {
  display: flex;
  padding: 1rem 2.5rem 1rem 1rem;
  cursor: pointer;
}

.side-bar__label:hover {
  background-color: #303848;
  color: #fff;
  padding-left: 0.9rem;
}

.side-bar__label--yellow:hover {
  border-left: 0.1rem solid #F9D649;
}
.side-bar__label--blue:hover {
  border-left: 0.1rem solid #51ACF6;
}
.side-bar__label--red:hover {
  border-left: 0.1rem solid #D43661;
}
.side-bar__label--green:hover {
  border-left: 0.1rem solid #4BA98A;
}

.side-bar__checkbox {
  display: none;
}

.side-bar__checkbox:checked + .side-bar__label .checkbox__div {
  background-image: url('../images/checkmark-black.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.7rem;
}

.checkbox__div {
  height: 1rem;
  margin: 0 0.5rem 0 0;
  width: 1rem;
  cursor: pointer;
}

.checkbox__div--yellow {
  background-color: #F9D649;
}

.checkbox__div--blue {
  background-color: #51ACF6;
}

.checkbox__div--red {
  background-color: #D43661;
}

.checkbox__div--green {
  background-color: #4BA98A;
}