/*
LAYOUT

header
  nav
aside
  photo
  checkbox*4
main
  feature
    graphs
      border-graph*3
    graphs
  table
    photo
  social

COLOR PALETTE

  #FAFAFC
  #EEF2F6
  #A0A3A8 text
  #7F8BA4
  #717E93  
  #5D667A
  #8891a1
  #6F6F71
  #374050
  #99C659
  #66B9BE
  #48A3F3   
  #3580B7      
  #5170BD   
  #A26DAB
  #303848   

IDIOMATIC CSS

.selector {Positioning; Display & Box Model; Other}
*/

@import "normalize.css";

body {background-color: #EEF2F6;}
html {font-size: 10px;color: #A0A3A8;}

.aside {position: fixed;top: 0;left: 0;display: flex;flex-direction: column;width: 15vw;height: 100%;overflow: auto;background-color: #374050;}
.aside__h2 {border-top: 1px solid black;font-size: 1rem;color: #5D667A;padding: 3rem 0 0 1rem;}
.aside__label {padding: 0.5rem 1rem;}
.aside__link {display: block;padding: 1rem 0.5rem;}
.aside__label:hover, .aside__link:hover {background-color: #303848; color: white;}
.aside__photo {display: flex;flex-direction: column;justify-content: center;align-items: center;}
.aside__section {border-top: 1px solid black;}

.border-graph {display: inline-flex;margin: 2rem;flex-direction: column;justify-content: center;align-items: center;border: 1px solid black;}
.border-graph__span {display: block;font-size: 5rem;}

.checkbox {margin: .5rem 0.5rem .5rem 0}
.checkbox--blue {}
.checkbox--green {}
.checkbox--red {}
.checkbox--yellow {}

.feature {display: flex;width: 100%;}

.flex-wrapper {display: flex;justify-content: center;align-items: center;}

.graphs {width: 50%;}
.graphs__h2 {}
.graphs__img {}

.header {background-color: #fff;height: 20vh;}
.header, .main {position: relative;left: 15%;display: inline-block;width: 85vw;}
.header__btn {float: right;border-radius: 100%;width: 2rem;margin: 1rem;background-size: 1rem;background-position: center;background-repeat: no-repeat;height: 2rem;}
.header__h1 {margin: 0; color: #6F6F71;}
.header__p {display: inline-block;}
.header__btn--bookmark {background-image: url("../images/bookmark-icon.svg")}
.header__btn--edit {background-image: url("../images/edit-icon.svg")}
.header__btn--delete {background-image: url("../images/delete-icon.svg")}
.header__btn--open {border-radius: 15px; width: auto;}

.icon {width:1rem;vertical-align: top;margin: 0rem 0.5rem;}

.link {color: #A0A3A8; text-decoration: none;}

.list {}
.list__item {display: inline-block;}

.main {}

.nav {display: flex;border-bottom: 1px solid black;}
.nav__btn {flex: auto;border: none;border-right: 1px solid black;background-size: 1.5rem; background-repeat: no-repeat;background-position: center;}
.nav__icon {width: 1.5rem;}
.nav__input {height: 45px;border: none;border-right: 1px solid black;width: 80%;}
.nav__btn--side-menu {background-image: url("../images/toggle-menu-icon-clicked.svg");}
.nav__btn--add-contact {background-image: url("../images/add-contact-icon.svg");}
.nav__btn--schedule {background-image: url("../images/schedule-icon.svg");}
.nav__btn--dots-menu {background-image: url("../images/dots-menu.svg");}
.nav__btn--side-menu:hover {background-image: url("../images/toggle-menu-icon-white.svg");}
.nav__btn--add-contact:hover {background-image: url("../images/add-contact-icon-white.svg");}
.nav__btn--schedule:hover {background-image: url("../images/schedule-icon-white.svg");}
.nav__btn--dots-menu:hover {background-image: url("../images/dots-menu-white.svg");}
.nav__btn:hover {background-color: #48A3F3;}

.open-bullet {position: relative;top: 0.7rem;color: #99C659;font-size: 3rem;line-height: 0;}

.photo {}
.photo__caption {display: inline-block}
.photo__icon {margin: 0 0 0 0.3rem;}
.photo__img {width: 8rem;border-radius: 100%;vertical-align: middle;}
.photo__link {margin: 1rem 0}
.photo__img--small {width:4rem;}

.social {float: right;display: inline-flex;flex-direction: column;width: 25%;}
.social__btn {margin: 0.5rem 0;color: #fff;}
.social__h2 {}
.social__input {}
.social__p {}
.social__btn--facebook {background-color: #5170BD;}
.social__btn--twitter {background-color: #48A3F3;}
.social__btn--linkedin {background-color: #3580B7;}

.table {display: inline-block;width: 60%;}
.table__btn {
    background-color: #8891a1;
    border: none;
    color: #fff;
}
.table__data {}
.table__heading {background-color: #7F8BA4;color: #fff;}
.table__photo {margin: 0;}
.table__row-title {
}