/* 
LAYOUT

header
  nav
aside
  photo
  checkbox*4
main
  graphs
    border-graph
  job-description
    photo
  social
  exchange
*/
/*
COLOR PALETTE
  #FAFAFC
  #EEF2F6
  #A0A3A8
  #7F8BA4
  #717E93 
  #5D667A 
  #374050
  #64B4C0 
  #48A3F3  
  #3580B7     
  #5170BD  
  #A26DAB     
*/

/*
IDIOMATIC CSS

.selector {
  Positioning
  Display & Box Model
  Other
}

*/

body {
  background-color: #EEF2F6
}

.aside {
  background-color: #374050
}
.aside__h2 {}
.aside__label {}
.aside__photo {}
.aside__section {}

.border-graph {}
.border-graph__span {}

.checkbox {}
.checkbox--yellow {}
.checkbox--blue {}
.checkbox--red {}
.checkbox--green {}

.exchange {}
.exchange__email {}
.exchange__h2 {}
.exchange__p {}

.graphs {}
.graphs__h2 {}
.graphs__img {}

.header {
  background-color: #fff
}
.header__btn {}
.header__h1 {}
.header__p {}

.icon {}

.job-description {}
.job-description__h2 {}
.job-description__p {}
.job-description--dark-background {
  background-color: #7F8BA4
}
.job-description__photo {}

.line-break {}

.link {}

.list {}
.list__item {}

.nav {}
.nav__btn {}
.nav__input {}

.open-bullet {}

.photo {}
.photo__caption {}
.photo__icon {}
.photo__img {}

.social {}
.social__btn {}