/*
LAYOUT

header
  nav
aside
  photo
  checkbox*4
main
  feature
    graphs
      border-graph*3
    graphs
  table
    photo
  social

COLOR PALETTE

  #FAFAFC
  #EEF2F6
  #A0A3A8 text
  #7F8BA4
  #717E93  
  #5D667A
  #8891a1
  #6F6F71
  #374050
  #99C659
  #66B9BE
  #48A3F3   
  #3580B7      
  #5170BD   
  #A26DAB
  #303848
  #96999E

IDIOMATIC CSS

.selector {Positioning; Display & Box Model; Other}
*/

@import "normalize.css";

html {font-size: 10px; font-family: sans-serif;color: #A0A3A8;}
body {background-color: #EEF2F6;}

.photo {}
.photo__caption {display: inline-block}
.photo__icon {margin: 0 0 0 0.3rem;}
.photo__img {width: 8rem;border-radius: 100%;vertical-align: middle;}
.photo__link {margin: 1rem 0}
.photo__img--small {width:4rem;}

.aside {position: fixed;top: 0;left: 0;display: flex;flex-direction: column;width: 15vw;height: 100%;overflow: auto;background-color: #374050;}
.aside__h2 {border-top: 1px solid black;font-size: 1rem;color: #5D667A;padding: 3rem 0 0 1rem;}
.aside__label {padding: 0.5rem 1rem;}
.aside__icon-link {padding: 1rem 2.5rem;}
.aside__photo {width: 10rem;min-width: 8.5rem;display: flex;flex-direction: column;justify-content: center;align-items: center;margin: 2rem auto;}
.aside__section {border-top: 1px solid black;}
.aside__label:hover, .aside__icon-link:hover {background-color: #303848; color: white;}
.aside__icon-link--home {background: url("../images/home-icon.svg") 1rem no-repeat;background-size: 1rem 1rem;}
.aside__icon-link--jobs {background: url("../images/briefcase-icon.svg") 1rem no-repeat;background-size: 1rem 1rem;}
.aside__icon-link--resumes {background: url("../images/resume-icon.svg") 1rem no-repeat;background-size: 1rem 1rem;}
.aside__icon-link--tasks {background: url("../images/tasks-icon.svg") 1rem no-repeat;background-size: 1rem 1rem;}
.aside__icon-link--calendar {background: url("../images/calendar-icon.svg") 1rem no-repeat;background-size: 1rem 1rem;}
.aside__icon-link--users {background: url("../images/users-icon.svg") 1rem no-repeat;background-size: 1rem 1rem;}
.aside__icon-link--location {background: url("../images/location-icon.svg") 1rem no-repeat;background-size: 1rem 1rem;}
.aside__icon-link--workflows {background: url("../images/workflows-icon.svg") 1rem no-repeat;background-size: 1rem 1rem;}
.aside__icon-link--job-boards {background: url("../images/job-boards-icon.svg") 1rem no-repeat;background-size: 1rem 1rem;}
.aside__icon-link--social {background: url("../images/social-icon.svg") 1rem no-repeat;background-size: 1rem 1rem;}
.aside__icon-link--home:hover {background-image: url("../images/home-icon-white.svg");}
.aside__icon-link--jobs:hover {background-image: url("../images/briefcase-icon-white.svg");}
.aside__icon-link--resumes:hover {background-image: url("../images/resume-icon-white.svg");}
.aside__icon-link--tasks:hover {background-image: url("../images/tasks-icon-white.svg");}
.aside__icon-link--calendar:hover {background-image: url("../images/calendar-icon-white.svg");}
.aside__icon-link--users:hover {background-image: url("../images/users-icon-white.svg");}
.aside__icon-link--location:hover {background-image: url("../images/location-icon-white.svg");}
.aside__icon-link--workflows:hover {background-image: url("../images/workflows-icon-white.svg");}
.aside__icon-link--job-boards:hover {background-image: url("../images/job-boards-icon-white.svg");}
.aside__icon-link--social:hover {background-image: url("../images/social-icon-white.svg");}

.bar-chart {width: 100%;position: relative;left: 2rem;bottom: 1rem;}

.checkbox {margin: .5rem 0.5rem .5rem 0}
.checkbox--blue {}
.checkbox--green {}
.checkbox--red {}
.checkbox--yellow {}

.circle-graph {
}
.circle-graph__text {transform: translateY(.25em);}
.circle-graph__text--number {text-anchor: middle;font-size: .75em;transform: translateY(-0.35em);}
.circle-graph__text--label {text-anchor: middle;font-size: 0.25em;transform: translateY(0.55em);background-color: white;}

.container {}

.feature {display: flex;width: 95%;border-bottom: 1px solid black;margin: 1rem auto;justify-content: space-between;}

.flex-wrapper {display: flex;justify-content: center;align-items: center;}
.flex-wrapper--space-between {justify-content: space-between;width: 95%;margin: 3rem auto;}

.graphs {display: flex;flex-direction: column;justify-content: space-between;align-items: center;}
.graphs__h2 {font-size: 2rem;border: 1px solid lightgrey;border-radius: 20px 20px;padding: 0.5rem 1rem;}
.graphs__div {height: 150px;width: 350px;background-color: blue;}
.graphs__img {}

.header {background-color: #fff;}
.header, .main {position: relative;left: 15%;width: 85vw;}
.header__btn {float: right;border-radius: 100%;width: 2rem;height: 2rem;margin: 1rem;background-size: 1rem;background-position: center;background-repeat: no-repeat;}
.header__h1 {margin: 0; color: #6F6F71;}
.header__p {display: inline-block;margin: 0.2rem 0 0 0;}
.header__btn--bookmark {background-image: url("../images/bookmark-icon.svg")}
.header__btn--edit {background-image: url("../images/edit-icon.svg")}
.header__btn--delete {background-image: url("../images/delete-icon.svg")}
.header__btn--open {border-radius: 15px;width: auto;font-weight: bold;color: #8891a1;}
.header__btn:hover {background-color: #48A3F3; color: white;}
.header__btn--bookmark:hover {background-image: url("../images/bookmark-icon-white.svg")}
.header__btn--edit:hover {background-image: url("../images/edit-icon-white.svg")}
.header__btn--delete:hover {background-image: url("../images/delete-icon-white.svg")}

.icon {width:1rem;vertical-align: top;margin: 0 0.5rem 0 0;}

.link {color: #A0A3A8; text-decoration: none;}
.link--active-bold {font-weight: bold;color: black}
.link--blue {color: #48A3F3;}

.list {padding: 0;width: 95%;margin: auto;}
.list__item {display: inline-block;padding: 0 0rem 1rem 0;margin: 0 3rem 0 0;}
.list__item--selected {border-bottom: 2px solid blue;font-weight: bold;color: black;}
.list__link:hover {color: #48A3F3;}

.main {}
.main__bottom {display: flex;margin: auto;width: 95%;justify-content: space-between;}

.nav {display: flex;border-bottom: 1px solid lightgrey;}
.nav__btn {flex: auto;border: none;border-right: 1px solid lightgrey;background-size: 1.5rem; background-repeat: no-repeat;background-position: center;}
.nav__icon {width: 1.5rem;}
.nav__search {height: 45px;border: none;border-right: 1px solid lightgrey;width: 80%;background: url("../images/search-icon.svg") 1rem no-repeat;background-size: 1.5rem 1.5rem;padding: 0 0 0 3.5rem;font-size: 1.5rem;}
.nav__btn--side-menu {background-image: url("../images/toggle-menu-icon-clicked.svg");}
.nav__btn--add-contact {background-image: url("../images/add-contact-icon.svg");}
.nav__btn--schedule {background-image: url("../images/schedule-icon.svg");}
.nav__btn--dots-menu {background-image: url("../images/dots-menu.svg");}
.nav__btn--side-menu:hover {background-image: url("../images/toggle-menu-icon-white.svg");}
.nav__btn--add-contact:hover {background-image: url("../images/add-contact-icon-white.svg");}
.nav__btn--schedule:hover {background-image: url("../images/schedule-icon-white.svg");}
.nav__btn--dots-menu:hover {background-image: url("../images/dots-menu-white.svg");}
.nav__btn:hover {background-color: #48A3F3;}
.nav__search::placeholder {color: lightgrey;}

.status-bullet {position: relative;top: 0.7rem;color: #99C659;font-size: 3rem;line-height: 0;padding: 0 0.2rem 0 0;}



.social {float: right;display: inline-flex;flex-direction: column;width: 25%;}
.social__btn {margin: 0.5rem 0;color: #fff;}
.social__h2 {}
.social__input {}
.social__p {}
.social__btn--facebook {background-color: #5170BD;}
.social__btn--twitter {background-color: #48A3F3;}
.social__btn--linkedin {background-color: #3580B7;}

.table {width: 70%;background-color: #fff;}
.table__btn {background-color: #8891a1;border: none;color: #fff;}
.table__data {border-top: 1px solid black;}
.table__heading {background-color: #7F8BA4;color: #fff;}
.table__photo {margin: 0;}
.table__row-title {border-top: 1px solid black;}